:root {
  --theme-primary-color: #ff9419d9;
  --theme-secondary-color: #e2a35ad9;
}
.dialog_header {
  color: #fff;
  background-color: var(--theme-primary-color);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.dialog_header_title {
  padding-left: 20px;
}
.dialog_header_close_btn {
  text-align: right;
  padding-right: 20px;
}
.container-style {
  color: grey;
}